{% extends "base.njk" %}
{% block cover %}
  <section role="banner">
    <div>
      <h3 role="presentation">
        {{ settings.subtitle }}
      </h3>
      {# <blockquote class="title-font">
                    <h4 style="text-align: var(--left)">
                      {{ settings.description }}
                    </h4>
                  </blockquote> #}
    </div>
  </section>
  {# {% include "partials/hero.njk" %} #}
{% endblock %}
{% block content %}
  {{ feature.featured('projects', 3) }}
  {{ super() }}
{% endblock %}
